.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.App__card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin: 8px;
  max-width: 1200px;
}

.App__title {
  font-size: 40px;
  text-align: center;
  padding: 24px;
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 217, 255),
    rgb(192, 36, 253)
  );
}

@media only screen and (max-width: 768px) {
  .App__card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin: 8px 16px;
    max-width: 1200px;
  }
}